body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background-color: var(--primary-background);
	margin: 0;
	color: var(--color-primary-text);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

/* Gradient Scrollbar */
body::-webkit-scrollbar {
	width: var(--spacer-3);
}

body::-webkit-scrollbar-track {
	background: linear-gradient(
		0deg,
		var(--color-primary-gradient-left),
		var(--color-primary-gradient-right)
	);
}

body::-webkit-scrollbar-thumb {
	background: transparent; /* opacity: 0; should do the thing either */
	box-shadow: 0px 0px 0px 100000vh #222;
	border-radius: var(--spacer-3);
}
